Repository irish1986/irishlab, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ansible, area/config, area/docker, area/docs, area/github, area/infra, area/kubernetes, area/taskfile, area/terraform

Update CI
  .github/workflows/ci.yml
  .github/workflows/meta-labeler.yml
Labels: area/github

Update CI
  .github/workflows/ci.yml
  .github/workflows/meta-labeler.yml
Labels: area/github

Update immich
  docker/media/immich/docker-compose.yml
Labels: area/docker

Update immich
  docker/media/immich/docker-compose.yml
Labels: area/docker

Update requirements.yml
  ansible/collections/requirements.yml
Labels: area/ansible

Big update in a while
  ansible/collections/arch.yml
  ansible/collections/common.yml
  ansible/pre_tasks/detect_wsl.yml
  ansible/pre_tasks/powershell_executionpolicy.yml
  ansible/pre_tasks/whoami.yml
  ansible/pre_tasks/whoami_wsl.yml
  docker/demo/nginx-loc/docker-compose.yml
  docker/demo/nginx/docker-compose.yml
  docker/demo/podinfo/docker-compose.yml
  docker/demo/whoami/both.yml
  docker/demo/whoami/external.yml
  docker/demo/whoami/internal.yml
  docker/monitoring/uptime-kuma/docker-compose.yml
  docker/network/cf-companion/docker-compose.yml
  docker/network/cloudflared/docker-compose.yml
  docker/network/homepage/config/services.yml
  docker/network/homepage/docker-compose.yml
  docker/network/pihole/docker-compose.yml
  docker/network/traefik/config/conf/headers.yml
  docker/network/traefik/config/conf/tls.yml
  docker/network/traefik/config/config.yml
  docker/network/traefik/config/dynamic.yml
  docker/network/traefik/config/pve.yml
  docker/network/traefik/config/traefik.yml
  docker/network/traefik/docker-compose.yml
  docker/network/traefik/token/cf_api_token
  docker/network/traefik/token/traefik_dashboard_credentials
  docker/services/gotify/docker-compose.yml
  docs/traefik.md
  docs/workstation.md
  scripts/dotfiles
  scripts/spinner
Labels: area/ansible, area/docker, area/docs

Update scripts
  scripts/test
Labels: none

Create settings.yml
  .github/settings.yml
Labels: area/github

Update settings.yml
  .github/settings.yml
Labels: area/github

Update settings.yml
  .github/settings.yml
Labels: area/github

Update pre-commit-config
  .config/.markdown-lint.yml
  .config/.yaml-lint.yml
  .pre-commit-config.yaml
Labels: area/config

Update pre-commit-config
  .github/settings.yml
  .github/workflows/ci.yml
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  scripts/test
Labels: area/config, area/github

Update ansible-lint
  .config/.ansible-lint.yml
  .github/workflows/ci.yml
Labels: area/config, area/github

ci: fix minor issur
  .github/workflows/ci.yml
Labels: area/github

ci: create reusable workflow fo ansible-lint
  .github/workflows/ci.yml
Labels: area/github

ci: create reusable workflow fo ansible-lint
  .github/workflows/ci.yml
Labels: area/github

ci: create reusable workflow fo ansible-lint
  .github/workflows/ci.yml
Labels: area/github

ci: create reusable workflow fo ansible-lint
  .github/workflows/ci.yml
Labels: area/github

ci: create reusable workflow fo ansible-lint
  .github/workflows/ci.yml
Labels: area/github

ci: create reusable workflow fo ansible-lint
  .github/workflows/ci.yml
Labels: area/github

ci: add new workflows
  .config/.ansible-lint.yml
  .config/.markdown-lint.yml
  .github/workflows/cron.yml
  .github/workflows/flux.yml
  .github/workflows/main.yml
  .github/workflows/meta-labeler.yml
  .github/workflows/meta-sync-labels.yml
  .github/workflows/pr.yml
  .github/workflows/runner-ansible.yml
  .github/workflows/runner-dns.yml
  .github/workflows/runner-tf.yml
  .taskfiles/docker.yml
  .taskfiles/kind.yml
Labels: area/config, area/github, area/taskfile

ci: add new workflows
  .github/workflows/cd.yml
  .github/workflows/cron.yml
Labels: area/github

refactor: remove taskfiles
  .taskfiles/ansible.yml
  .taskfiles/bfg.yml
  .taskfiles/flux.yaml
  .taskfiles/k8s.yaml
  .taskfiles/pre-commit.yml
  .taskfiles/setup.yaml
  Taskfile.yml
  requirements.txt
Labels: area/taskfile

refactor: remove unwanted files
  scripts/dotfiles
  scripts/test
Labels: none

refactor: remove vscode directory
  .vscode/extensions.json
  .vscode/settings.json
Labels: area/config

refactor: remove pyapp
  docker/demo/pyapp/Dockerfile
  docker/demo/pyapp/README.md
  docker/demo/pyapp/poetry.lock
  docker/demo/pyapp/pyapp/__init__.py
  docker/demo/pyapp/pyapp/app.py
  docker/demo/pyapp/pyproject.toml
  docker/demo/pyapp/tests/__init__.py
Labels: area/docker

ci: fix typo
  .github/workflows/main.yml
  .github/workflows/pr.yml
Labels: area/github

refactor: cloud-init directory
  .gitignore
  docs/chezmoi.md
  docs/ssh.md
  docs/workstation.md
  infra/cloudinit/template/meta-data
  infra/cloudinit/template/network-config
  infra/cloudinit/template/user-data
Labels: area/config, area/docs, area/infra

refactor: cloud-init directory
  infra/cloudinit/template/99_config.yaml.tpl
  infra/cloudinit/template/user-data-ansible
Labels: area/infra

feat: big update
  .gitignore
  .pre-commit-config.yaml
  ansible/roles/common_setup/tasks/packages.yml
  ansible/roles/proxmox_pve/templates/ubuntu.sh
  docker/media/qbittorrent/compose.yml
  docker/network/gluetun/compose.yml
  docker/network/pihole/compose.yml
  docker/network/tailscale/compose.yml
  docker/network/traefik/config/config.yml
  docker/network/traefik/config/route/middleware.yml
  docker/network/traefik/config/route/pve.yml
  docker/network/tsdproxy/compose.yml
  docker/services/uptime-kuma/compose.yml
  docker/services/wazuh/cert.yml
  docker/services/wazuh/compose.yml
  docs/cloud-image.md
  docs/k3s-0.md
  infra/cloudinit/template/99_config.yaml.tpl
  infra/cloudinit/template/network-config
  infra/cloudinit/template/user-data
  infra/proxmox/template/proxmox.toml
  k8s/cluster/homelab/core/descheduler/helm-release.yaml
  k8s/demo/whoami/deployment.yml
  k8s/demo/whoami/ingress.yml
  k8s/demo/whoami/namespace.yml
  k8s/demo/whoami/service.yml
Labels: area/ansible, area/config, area/docker, area/docs, area/infra, area/kubernetes

.github/labeler.yml:

---
# Areas
area/ansible:
  - changed-files:
      - any-glob-to-any-file:
          - "ansible/**/*"
area/config:
  - changed-files:
      - any-glob-to-any-file:
          - ".config/**/*"
          - ".pre-commit-config.yaml"
          - ".gitattributes"
          - ".gitignore"
          - ".vscode/**/*"
area/docker:
  - changed-files:
      - any-glob-to-any-file:
          - "docker/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
          - "LICENSE"
area/github:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"
area/infra:
  - changed-files:
      - any-glob-to-any-file:
          - "infra/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - "k8s/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
area/terraform:
  - changed-files:
      - any-glob-to-any-file:
          - "terraform/**/*"
