Repository irish1986/irishlab, changes with the labels that .github/labeler.yaml gives for each.
All labels: ansible, config, docker, docs, github, infra, kubernetes, taskfile, terraform, vscode

Add GHA linting
  .github/workflows/linting.yml
Labels: github

Add docs
  .github/CODEOWNERS
  docs/chezmoi.md
  docs/coral.md
  docs/gitops.md
  docs/igpu.md
  docs/k3s.md
  docs/proxmox.md
  docs/ssh.md
  docs/workstation.md
Labels: docs, github

Add podinfo
  docker/demo/podinfo/docker-compose.yml
  docker/demo/whoami/docker-compose.yml
  k8s/demo/nginx/deployment.yml
  k8s/demo/nginx/ingress.yml
  k8s/demo/nginx/service.yml
  k8s/demo/podinfo/deployment.yml
  k8s/demo/podinfo/hpa.yml
  k8s/demo/podinfo/kustomization.yaml
  k8s/demo/podinfo/service.yml
  k8s/demo/whoami/deployment.yml
  k8s/demo/whoami/ingress.yml
  k8s/demo/whoami/service.yml
Labels: docker, kubernetes

Add fix pre-commit issue
  .pre-commit-config.yaml
  ansible/roles/common_setup/tasks/user.yml
  docker/demo/whoami/docker-compose.yml
  docker/home/frigate/config/config.yml
  docker/home/frigate/docker-compose.yml
  docker/home/hydroqc/docker-compose.yml
  docker/media/bazaar/docker-compose.yml
  docker/media/lidarr/docker-compose.yml
  docker/media/overseerr/docker-compose.yml
  docker/media/plex/docker-compose.yml
  docker/media/prowlarr/docker-compose.yml
  docker/media/qbittorrent/docker-compose.yml
  docker/media/radarr/docker-compose.yml
  docker/media/sonarr/docker-compose.yml
  docker/media/stash/docker-compose.yml
  docker/media/tautulli/docker-compose.yml
  docker/media/tdarr-node/docker-compose.yml
  docker/media/tdarr-server/docker-compose.yml
  docker/media/whisparr/docker-compose.yml
  docker/monitoring/node-exporter/docker-compose.yaml
  docker/network/homepage/docker-compose.yml
  docker/network/unbound/docker-compose.yml
  docker/network/upsnap/docker-compose.yml
  docker/services/netbootxyz/docker-compose.yml
  docker/services/watchtower/docker-compose.yml
Labels: ansible, config, docker

Remove GHA
  .github/workflows/ci.yml
  .github/workflows/linting.yml
Labels: github

Reorder pre-commit
  .pre-commit-config.yaml
Labels: config

Add Flux v2.2.3 component manifests
  k8s/cluster/base/flux-system/gotk-components.yaml
Labels: kubernetes

Add Flux sync manifests
  k8s/cluster/base/flux-system/gotk-sync.yaml
  k8s/cluster/base/flux-system/kustomization.yaml
Labels: kubernetes

Update pre-commit
  .config/.yamllint.yml
  .github/workflows/runner-dns.yml
  .github/workflows/runner-tf.yml
  .pre-commit-config.yaml
  docs/gitops.md
  k8s/cluster/base/flux-system/kustomization.yaml
Labels: config, docs, github, kubernetes

Deploy demo k8s workload
  k8s/cluster/apps/nginx/deployment.yml
  k8s/cluster/apps/nginx/ingress.yml
  k8s/cluster/apps/nginx/service.yml
  k8s/cluster/apps/podinfo/deployment.yml
  k8s/cluster/apps/podinfo/hpa.yml
  k8s/cluster/apps/podinfo/kustomization.yaml
  k8s/cluster/apps/podinfo/service.yml
  k8s/cluster/apps/whoami/deployment.yml
  k8s/cluster/apps/whoami/ingress.yml
  k8s/cluster/apps/whoami/service.yml
Labels: kubernetes

Update demo k8s workload
  k8s/cluster/apps/nginx/service.yml
  k8s/cluster/apps/podinfo/service.yml
  k8s/cluster/apps/whoami/service.yml
Labels: kubernetes

Update demo k8s workload
  k8s/cluster/base/flux-system/kustomization.yaml
Labels: kubernetes

Add GHA Flux
  .github/workflows/flux.yml
Labels: github

Add GHA Flux
  .github/workflows/flux.yml
Labels: github

Add GHA Flux
  .github/workflows/flux.yml
Labels: github

Add GHA Flux
  .github/workflows/flux.yml
Labels: github

Add GHA Flux
  .github/workflows/flux.yml
Labels: github

Add GHA Flux
  .github/workflows/flux.yml
Labels: github

Add GHA Flux
  .github/workflows/flux.yml
Labels: github

Add GHA Flux
  .github/workflows/flux.yml
Labels: github

Add GHA Flux
  .github/workflows/flux.yml
Labels: github

Add GHA Flux
  .github/workflows/flux.yml
Labels: github

Update to flux version 2.2.3
  k8s/cluster/base/flux-system/gotk-components.yaml
Labels: kubernetes

Update pre-commit.yml
  .github/workflows/pre-commit.yml
Labels: github

Add GHA Flux
  .github/workflows/flux.yml
Labels: github

Add sample py app
  docker/demo/pyapp/Dockerfile
  docker/demo/pyapp/README.md
  docker/demo/pyapp/poetry.lock
  docker/demo/pyapp/pyapp/__init__.py
  docker/demo/pyapp/pyapp/app.py
  docker/demo/pyapp/pyproject.toml
  docker/demo/pyapp/tests/__init__.py
Labels: docker

Add Flux v2.2.3 component manifests
  k8s/cluster/dev/flux-system/gotk-components.yaml
Labels: kubernetes

Add Flux sync manifests
  k8s/cluster/dev/flux-system/gotk-sync.yaml
  k8s/cluster/dev/flux-system/kustomization.yaml
Labels: kubernetes

Add demo k8s
  k8s/cluster/base/flux-system/gotk-components.yaml
  k8s/cluster/base/flux-system/gotk-sync.yaml
  k8s/cluster/base/flux-system/kustomization.yaml
  k8s/cluster/dev/default/whoami/deployment.yml
  k8s/cluster/dev/default/whoami/service.yml
  k8s/demo/nginx/deployment.yml
  k8s/demo/nginx/ingress.yml
  k8s/demo/nginx/service.yml
  k8s/demo/podinfo/deployment.yml
  k8s/demo/podinfo/hpa.yml
  k8s/demo/podinfo/kustomization.yaml
  k8s/demo/podinfo/service.yml
  k8s/demo/whoami/ingress.yml
Labels: kubernetes

Add podinfo k8s
  k8s/cluster/dev/default/podinfo/deployment.yml
  k8s/cluster/dev/default/podinfo/hpa.yml
  k8s/cluster/dev/default/podinfo/kustomization.yaml
  k8s/cluster/dev/default/podinfo/service.yml
Labels: kubernetes

Add podinfo k8s
  k8s/cluster/dev/default/podinfo/deployment.yml
  k8s/cluster/dev/default/podinfo/hpa.yml
  k8s/cluster/dev/default/podinfo/kustomization.yaml
  k8s/kind/cluster.yml
Labels: kubernetes

Add podinfo k8s
  k8s/cluster/dev/default/podinfo/kustomization.yaml
Labels: kubernetes

Remove podinfo k8s
  k8s/cluster/dev/default/podinfo/deployment.yml
  k8s/cluster/dev/default/podinfo/hpa.yml
  k8s/cluster/dev/default/podinfo/service.yml
Labels: kubernetes

Increase whoami replicas
  k8s/cluster/dev/default/whoami/deployment.yml
Labels: kubernetes

Remove flux
  docs/flux.md
  k8s/cluster/apps/nginx/deployment.yml
  k8s/cluster/apps/nginx/ingress.yml
  k8s/cluster/apps/nginx/service.yml
  k8s/cluster/apps/podinfo/deployment.yml
  k8s/cluster/apps/podinfo/hpa.yml
  k8s/cluster/apps/podinfo/kustomization.yaml
  k8s/cluster/apps/podinfo/service.yml
  k8s/cluster/apps/whoami/deployment.yml
  k8s/cluster/apps/whoami/ingress.yml
  k8s/cluster/apps/whoami/service.yml
  k8s/cluster/dev/default/whoami/deployment.yml
  k8s/cluster/dev/default/whoami/service.yml
  k8s/cluster/dev/flux-system/gotk-components.yaml
  k8s/cluster/dev/flux-system/gotk-sync.yaml
  k8s/cluster/dev/flux-system/kustomization.yaml
Labels: docs, kubernetes

Add Flux v2.2.3 component manifests
  k8s/cluster/homelab/base/flux-system/gotk-components.yaml
Labels: kubernetes

Add Flux sync manifests
  k8s/cluster/homelab/base/flux-system/gotk-sync.yaml
  k8s/cluster/homelab/base/flux-system/kustomization.yaml
Labels: kubernetes

Update pre-commit-config
  .pre-commit-config.yaml
Labels: config

Base cluster config
  .config/.yamllint.yml
  k8s/cluster/homelab/base/apps.yaml
  k8s/cluster/homelab/base/configs.yaml
  k8s/cluster/homelab/base/core.yaml
  k8s/cluster/homelab/base/flux-system/allow-all.yaml
  k8s/cluster/homelab/base/helm.yaml
  k8s/cluster/homelab/core/cert-manager/helm-release.yaml
  k8s/cluster/homelab/core/cert-manager/kustomization.yaml
  k8s/cluster/homelab/core/cert-manager/namespace.yaml
  k8s/cluster/homelab/core/descheduler/helm-release.yaml
  k8s/cluster/homelab/core/descheduler/kustomization.yaml
  k8s/cluster/homelab/core/kube-vip/helm-release.yaml
  k8s/cluster/homelab/core/kube-vip/kustomization.yaml
  k8s/cluster/homelab/core/kube-vip/namespace.yaml
  k8s/cluster/homelab/core/kured/helm-release.yaml
  k8s/cluster/homelab/core/kured/kustomization.yaml
  k8s/cluster/homelab/core/kured/namespace.yaml
  k8s/cluster/homelab/core/kustomization.yaml
  k8s/cluster/homelab/core/longhorn-system/helm-release.yaml
  k8s/cluster/homelab/core/longhorn-system/kustomization.yaml
  k8s/cluster/homelab/core/longhorn-system/namespace.yaml
  k8s/cluster/homelab/helm/cert-manager/kustomization.yaml
  k8s/cluster/homelab/helm/cert-manager/repo.yaml
  k8s/cluster/homelab/helm/descheduler/kustomization.yaml
  k8s/cluster/homelab/helm/descheduler/repo.yaml
  k8s/cluster/homelab/helm/kube-vip/kustomization.yaml
  k8s/cluster/homelab/helm/kube-vip/repo.yaml
  k8s/cluster/homelab/helm/kubereboot/kustomization.yaml
  k8s/cluster/homelab/helm/kubereboot/repo.yaml
  k8s/cluster/homelab/helm/kustomization.yaml
  k8s/cluster/homelab/helm/longhorn-system/kustomization.yaml
  k8s/cluster/homelab/helm/longhorn-system/longhorn-repo.yaml
Labels: config, kubernetes

Base cluster config
  k8s/cluster/homelab/core/cert-manager/kustomization.yaml
Labels: kubernetes

.github/labeler.yaml:

---
# Areas
ansible:
  - changed-files:
      - any-glob-to-any-file:
          - "ansible/**/*"
config:
  - changed-files:
      - any-glob-to-any-file:
          - ".config/**/*"
          - ".pre-commit-config.yaml"
          - ".gitattributes"
          - ".gitignore"
docker:
  - changed-files:
      - any-glob-to-any-file:
          - "docker/**/*"
docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
          - "LICENSE"
github:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"
infra:
  - changed-files:
      - any-glob-to-any-file:
          - "infra/**/*"
kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - "k8s/**/*"
taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
terraform:
  - changed-files:
      - any-glob-to-any-file:
          - "terraform/**/*"
vscode:
  - changed-files:
      - any-glob-to-any-file:
          - ".vscode/**/*"
